<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/gargi-mohanty-yr2025" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a> 
            <a href="https://github.com/Gargi-99" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com/garrgs/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>

        <div class="footer-brand">
            &copy; WANDERLUST PRIVATE LIMITED
        </div>

        <div class="footer-developer">
            Developed by <b><a href="https://www.linkedin.com/in/gargi-mohanty-yr2025" target="_blank">Gargi Mohanty</a></b>
        </div>

    </div>
</footer>
